<%- include("layout/header") %>

    <form action="/" method="POST" >
      <input type="text" name="title" placeholder="Write a title.">
      <input type="text" name="description" placeholder="Write Your Content!">
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
